.DS_Store

Keys.md

*.nt

adodb5

vendor/

junk/
manuscripts/examples


glue/junk


oz-csl/*.jsonl
oz-csl/*.nt
oz-csl/junk

oz-gbif/*.nt

oz-iiif/cache/*

oz-ipni/*.jsonl

oz-orcid/*.nt
oz-orcid/*.jsonl
oz-orcid/junk

references/*.ris
references/*.sql

resolvers/*.nt
resolvers/triples/*.nt

sameAs/*.nt

thumbnails/*.nt
thumbnails/tmp/
oz-csl/backup.jsonl
resolvers/if.nt
